body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: lightgray;
  --size3: 8vmin;
  --size4: 6vmin;
  --size5: 5vmin;
}

.matrix {
  display: grid;
  width: fit-content;
  height: fit-content;
}

.matrix.size2 {
  grid-template-areas:
    ".         columnLabel0"
    "rowLabel0 category0_category1";
}

.matrix.size3 {
  grid-template-areas:
    ".         columnLabel0        columnLabel1"
    "rowLabel0 category0_category1 category0_category2"
    "rowLabel1 category1_category2 .";
}

.matrix.size4 {
  grid-template-areas:
    ".         columnLabel0        columnLabel1        columnLabel2"
    "rowLabel0 category0_category1 category0_category2 category0_category3"
    "rowLabel1 category1_category3 category2_category3 ."
    "rowLabel2 category1_category2 .                   .";
}

.grid {
  display: grid;
  border: 2px solid black;
  box-sizing: border-box;
  /* box-shadow: 1px 1px #000; */
  width: fit-content;
  height: fit-content;
}

.grid.size5 {
  grid-template-columns: repeat(5, var(--size5));
  grid-template-rows: repeat(5, var(--size5));
}
.grid.size4 {
  grid-template-columns: repeat(4, var(--size4));
  grid-template-rows: repeat(4, var(--size4));
}
.grid.size3 {
  grid-template-columns: repeat(3, var(--size3));
  grid-template-rows: repeat(3, var(--size3));
}

.grid#category0_category1 {
  grid-area: category0_category1;
}
.grid#category0_category2 {
  grid-area: category0_category2;
}
.grid#category0_category3 {
  grid-area: category0_category3;
}
.grid#category1_category3 {
  grid-area: category1_category3;
}
.grid#category2_category3 {
  grid-area: category2_category3;
}
.grid#category1_category2 {
  grid-area: category1_category2;
}

.grid > div {
  /* outline: 1px solid black; */
  box-shadow: -1px -1px #000;
  text-align: center;
}

.columnLabel {
  border: solid black;
  border-width: 0 2px;
  box-sizing: border-box;  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-orientation: sideways;
  display: grid;
  width: fit-content;
  font-size: 4vmin;
  overflow: scroll;
}

.columnLabel > div {
  box-shadow: 1px 0 #000;
  padding-top: 4px;
}

.columnLabel.size3 > div{
  width: var(--size3);
}

.columnLabel.size4 > div{
  width: var(--size4);
}

.columnLabel.size5 > div{
  width: var(--size5);
}

.columnLabel.label0 {
  grid-area: columnLabel0;
}
.columnLabel.label1 {
  grid-area: columnLabel1;
}
.columnLabel.label2 {
  grid-area: columnLabel2;
}
.columnLabel.label3 {
  grid-area: columnLabel3;
}

.rowLabel {
  border: solid black;
  border-width: 2px 0;
  box-sizing: border-box;
  /* box-shadow: 0 -2px 0 #000; */
  display: grid;
  text-align: right;
  height: fit-content;
  font-size: 4vmin;
  overflow: scroll;
}

.rowLabel > div {
  box-shadow: 0 -1px #000;
  padding-right: 4px;
}

.rowLabel.size3 > div{
  height: var(--size3);
}
.rowLabel.size4 > div{
  height: var(--size4);
}
.rowLabel.size5 > div{
  height: var(--size5);
}
.rowLabel.label0 {
  grid-area: rowLabel0;
}
.rowLabel.label1 {
  grid-area: rowLabel1;
}
.rowLabel.label2 {
  grid-area: rowLabel2;
}
.rowLabel.label3 {
  grid-area: rowLabel3;
}

.clues {
  overflow: scroll;
  border: 1px solid black;
  border-radius: 5px;
}

.clue.true {
  text-decoration: line-through;
}