html {
  height: 100vh;
}

body {
  --capped-cell-size: min(var(--cell-size), 0.8cm);
  --font-size: min(calc(var(--capped-cell-size) * 0.8), 0.5cm);
  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 98vw;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "controls"
    "matrix"
    "result"
    "clues";
  grid-template-rows: auto auto auto 1fr;
  overflow: hidden;
  font-size: var(--font-size);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: var(--font-size);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  color: black;
  margin: 0;
  padding: 1px 6px;
}

/* Matrix */
.matrix {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-area: matrix;
  justify-self: center;
  align-self: center;
  grid-template-areas:
    ".         columnLabel0        columnLabel1        columnLabel2"
    "rowLabel0 rowSet0_columnSet0 rowSet0_columnSet1 rowSet0_columnSet2"
    "rowLabel1 rowSet1_columnSet0 rowSet1_columnSet1 ."
    "rowLabel2 rowSet2_columnSet0 .                   .";
}

.grid {
  display: grid;
  border: 2px solid var(--light-color);
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
}

.grid.size5 {
  grid-template-columns: repeat(5, var(--capped-cell-size));
  grid-template-rows: repeat(5, var(--capped-cell-size));
}
.grid.size4 {
  grid-template-columns: repeat(4, var(--capped-cell-size));
  grid-template-rows: repeat(4, var(--capped-cell-size));
}
.grid.size3 {
  grid-template-columns: repeat(3, var(--capped-cell-size));
  grid-template-rows: repeat(3, var(--capped-cell-size));
}

.grid#rowSet0_columnSet0 {
  grid-area: rowSet0_columnSet0;
}
.grid#rowSet0_columnSet1 {
  grid-area: rowSet0_columnSet1;
}
.grid#rowSet0_columnSet2 {
  grid-area: rowSet0_columnSet2;
}
.grid#rowSet1_columnSet0 {
  grid-area: rowSet1_columnSet0;
}
.grid#rowSet1_columnSet1 {
  grid-area: rowSet1_columnSet1;
}
.grid#rowSet2_columnSet0 {
  grid-area: rowSet2_columnSet0;
}

.grid > div {
  box-shadow: 1px -1px var(--light-color);
  text-align: center;
}

.cell {
  background-repeat: no-repeat;
  background-size: contain;
  /* Required because iOS13 doesn't respect standard context menu handling */
  -webkit-user-select: none !important;
  touch-action: none;
  user-select: none !important;
}

.cell.true {
  background-image: url("./images/true.svg");
  -webkit-user-select: none !important;
  touch-action: none !important;
  user-select: none !important;
}

.cell.false {
  background-image: url("./images/false.svg");
  -webkit-user-select: none !important;
  touch-action: none !important;
  user-select: none !important;
}

/* Labels */

.columnLabel {
  border: solid var(--light-color);
  border-width: 0 2px;
  box-sizing: border-box;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  display: grid;
  width: fit-content;
  font-size: var(--font-size);
  white-space: nowrap;
}

.columnLabel > div {
  box-shadow: -1px -1px var(--light-color);
  padding-top: 4px;
  transform: rotate(180deg);
  min-height: 10vmin;
  overflow: scroll;
}

.columnLabel.size3 > div {
  width: var(--capped-cell-size);
}

.columnLabel.size4 > div {
  width: var(--capped-cell-size);
}

.columnLabel.size5 > div {
  width: var(--capped-cell-size);
}

.columnLabel.label0 {
  grid-area: columnLabel0;
}
.columnLabel.label1 {
  grid-area: columnLabel1;
}
.columnLabel.label2 {
  grid-area: columnLabel2;
}
.columnLabel.label3 {
  grid-area: columnLabel3;
}

.rowLabel {
  border: solid var(--light-color);
  border-width: 2px 0;
  box-sizing: border-box;
  display: grid;
  text-align: right;
  height: fit-content;
  font-size: var(--font-size);
  white-space: nowrap;
}

.rowLabel > div {
  box-shadow: 1px -1px var(--light-color);
  padding-right: 4px;
  min-width: 10vmin;
  overflow: scroll;
}

.rowLabel.size3 > div {
  height: var(--capped-cell-size);
}
.rowLabel.size4 > div {
  height: var(--capped-cell-size);
}
.rowLabel.size5 > div {
  height: var(--capped-cell-size);
}
.rowLabel.label0 {
  grid-area: rowLabel0;
}
.rowLabel.label1 {
  grid-area: rowLabel1;
}
.rowLabel.label2 {
  grid-area: rowLabel2;
}
.rowLabel.label3 {
  grid-area: rowLabel3;
}

/* result */

#result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vmin;
  white-space: pre;
  text-align: center;
}

/* Clues */

.clues > ol {
  padding: 5px;
}

.clues {
  overflow: scroll;
  grid-area: clues;
  padding: 5vmin;
  margin-bottom: 5vh;
}

.clue.crossedOff {
  text-decoration: line-through;
  color: rgb(202 202 202);
}

.clue.violated {
  color: rgb(218, 71, 71);
}

.clueInfo {
  text-align: center;
  font-weight: bolder;
}

/* Controls */

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100%;
  height: 5vmax;
  /* border-bottom: 2px solid var(--light-color); */
  margin-bottom: 5px;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: 4vmax;
  height: 4vmax;
  background-color: transparent;
  padding: 1px 6px;
}

#newGameButton {
  background-image: url("./images/new_game.svg");
}

#heartButton {
  background-image: url("./images/heart.svg");
}

#installButton {
  background-image: url("./images/install.svg");
}

#settingsButton {
  background-image: url("./images/settings.svg");
}

#undoButton {
  background-image: url("./images/undo.svg");
}

#undoButton:disabled {
  opacity: 0.5;
}

/* Settings */

.settings {
  text-align: center;
  overflow: scroll;
  font-size: var(--font-size);
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#settings {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 90%;
  align-items: stretch;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 0.5cm;
}

.setting-description {
  padding: 0 5px 0 0;
}

.setting-info {
  font-size: calc(var(--font-size) * 0.7);
}

#setting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

#setting-buttons > button {
  margin: 10px;
}

select {
  font-size: var(--font-size);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

input[type="checkbox" i] {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  min-width: var(--font-size);
  min-height: var(--font-size);
  border-radius: 2px;
  background-color: var(--light-color);
  border: 3px solid var(--light-color);
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

input[type="checkbox" i]:checked {
  background-image: url("./images/checkmark-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.heart {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
}

.heartText {
  margin: 2vmax;
}

.heart a {
  color: rgb(0 162 255);
}

/* larger screens */
@media (min-width: 768px) {
  body {
    --capped-cell-size: 3vmin;
    --capped-cell-size: 3vmin;
    --capped-cell-size: 3vmin;
  }
}

/* wider screens */
@media (orientation: landscape) {
  #app {
    grid-template-areas:
      "matrix controls"
      "matrix result"
      "matrix clues";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;
  }
}
